.editor {
    &__status {
        text-align: center;
        position: relative;

        &-chart {
            width: 16.25rem;
            height: 16.25rem;
            margin: 0 auto;
            @include atMedium {
                width: 12.1875rem;
                height: 12.1875rem;
            }

            canvas {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &-copy {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__photo {
        padding: 0 2rem;
        text-align: center;
        @include atHuge {
            padding: 0 3.75rem;
        }

        &-img {
            width: 100%;
            max-width: 12.5rem;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin: 0 auto;
            position: relative;

            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
        }

        &-check {
            margin: 2.5rem auto;
        }
    }
    
    &__main {
        padding: 3.333rem 0;
        @include atMedium {
            padding: 2.5rem 2.1875rem 2.5rem 1rem;
        }
        @include atExtralarge {
            padding: 2.5rem 3.4375rem 2.5rem 2.8125rem;
        }
    }

    &__group {
        background-color: $color-white;
        box-shadow: 0px 0px 29px 0px rgba($color-black, .05);
        border-radius: 1.25rem;
        @include atMedium {
            padding: 1.875rem 0;
            border-radius: .9375rem;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
        }

        &-sidebar {
            padding: 1.5625rem 0;
            border-bottom: 1px solid $color-gray-alt-16;
            @include atMedium {
                width: 40%;
                max-width: 22.5rem;
                border-bottom: 0;
                border-right: 1px solid $color-gray-alt-16;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
            }
            @include atLarge {
                width: 30%;
            }

            &-btn {
                margin-top: 1.5625rem;
                padding: 0 3.75rem;
                @include atMedium {
                    padding: 0 1rem;
                    margin: auto 0 0 0;
                }
                @include atExtralarge {
                    padding: 0 2.5rem;
                }
                @include atHuge {
                    padding: 0 3.75rem;
                }
            }
        }

        &-title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 2.1875rem;
            margin-bottom: 1.25rem;

            i {
                margin-right: 1.25rem;
                font-size: 1.5rem;
                color: $color-gray-alt-14;
                @include atMedium {
                    font-size: 1.125rem;
                }
            }
        }

        &-list {
            @include atMedium {
                margin-bottom: 1.5625rem;
            }
        }

        &-item {
            padding: 1rem 2.1875rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            transition: background-color .25s;

            p {
                transition: all .25s;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 1rem;
                @include atMedium {
                    max-width: 100px;
                }
                @include atExtralarge {
                    max-width: 100%;
                }
            }

            &-delete {
                transition: all .25s;

                &:hover {
                    color: $color-primary;
                }
            }

            &-label {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                i {
                    margin-right: 10px;
                }
            }

            &--active {
                background-color: $color-gray-alt-15;
                color: $color-primary-alt;

                p {
                    color: $color-primary-alt;
                }
            }
        }

        &-main {
            padding: 1.5625rem;
            @include atMedium {
                flex: 1;
                margin-bottom: -1.5625rem;
            }
            @include atLarge {
                padding: 1.5625rem 3.125rem;
            }

            &-wrapper {
                margin-bottom: 2.083rem;
                @include atMedium {
                    margin-bottom: 1.5625rem;
                }
            }

            &-form {
                margin-bottom: -2.083rem;
                @include atMedium {
                    margin-bottom: -1.5625rem;
                }

                &--alt {
                    margin-bottom: 0;
                    padding-bottom: 1.5625rem;
                }
            }

            &-btn {
                padding: 0 1.5625rem;
                margin-top: 3.75rem;
                margin-bottom: 1.5625rem;
                @include atMedium {
                    padding: 0;
                }

                .btn {
                    @include atMedium {
                        max-width: 17.8125rem;
                    }
                }
            }
        }

        & + & {
            margin-top: 3.333rem;
            @include atMedium {
                margin-top: 2.5rem;
            }
        }
    }

    &__skills {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include atLarge {
            align-items: flex-end;
        }

        &-row {
            flex: 1;
        }

        &-delete {
            margin-left: 2.5rem;
            @include atMedium {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                margin-left: 1.875rem;
            }
            @include atLarge {
                padding-bottom: 2.7rem;
            }

            &-icon {
                cursor: pointer;
                color: $color-gray-alt-13;
                font-size: 1.333rem;
                transition: all .25s;
                @include atMedium {
                    font-size: 1rem;
                }

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }

    &__wysiwyg {
        height: 10.625rem;
        margin-bottom: 2.083rem;
        @include atMedium {
            margin-bottom: 1.5625rem;
        }

        * {
            color: $color-dark;
        }
    }
}

.trumbowyg {
    margin-top: 0;
    margin-bottom: 0;
    @include atMedium {
        margin-top: 0;
        min-height: 10.625rem;
    }

    &-box {
        border-color: $color-gray-alt-17;
    }

    &-button-pane {
        background-color: transparent;
        @include atExtralarge {
            border: 0;
        }
    }

    &-fontfamily-button {
        font-family: $font-main;
        font-weight: 600;
        font-size: 1.167rem;
        color: $color-gray-alt-12;
        @include atMedium {
            font-size: .875rem;
        }
    }

    &-editor {
        @include atMedium {
            min-height: 10.625rem;
        }
    }
}